<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="BrowserChooser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<BrowserChooser.Properties.Settings>
			<setting name="CheckedBrowsers" serializeAs="String">
				<value>FIREFOX.EXE</value>
			</setting>
			<setting name="URLHandlers" serializeAs="Xml">
				<value>
					<Protocols xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
								 xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<Items>
							<Protocol>
								<Proto>http</Proto>
								<Desc>URL:HyperText Transfer Protocol</Desc>
							</Protocol>
							<Protocol>
								<Proto>https</Proto>
								<Desc>URL:HyperText Transfer Protocol with Privacy</Desc>
							</Protocol>
							<Protocol>
								<Proto>ftp</Proto>
								<Desc>URL:File Transfer Protocol</Desc>
							</Protocol>
						</Items>
					</Protocols>
				</value>
			</setting>
		</BrowserChooser.Properties.Settings>
	</userSettings>
</configuration>