<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="BrowserChooser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<BrowserChooser.Properties.Settings>
   <setting name="CheckedBrowsers" serializeAs="String">
    <value>FIREFOX.EXE</value>
   </setting>
   <setting name="hasSetDefault" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="UpgradeSettings" serializeAs="String">
    <value>True</value>
   </setting>
  </BrowserChooser.Properties.Settings>
	</userSettings>
	<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
